{% extends 'base_template.html' %}
{% load staticfiles %}

    {% block content %}

        <div class="home">

          <!-- Main component for a primary marketing message or call to action -->
{#          <div class="home">#}

{#              <div id="bg">#}
{#                  <img src="{% static 'img/background.jpg' %}" alt="">#}
{#              </div>#}
              <h1 class="welcome">Have a look...</h1>
               <h3 class="welcome">and meet someone you like</h3>

              <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>

{#          </div>#}

        </div> <!-- /container -->



    {% endblock content %}